/* src/renderer/src/app.css */
@import "tailwindcss";

@theme {
  /* Using system default fonts instead. */
  /* --font-sans: Inter, "Segoe UI", Arial, sans-serif; */
  /* --font-sans: "Segoe UI"; */

  /* Minimal Palette */
  --color-background: #181818; /* Universal background for content, panels, sidebars */
  --color-surface: #1F1F1F; /* Text input background */
  --color-border: #2B2B2B;
  --color-muted: #9D9D9D;
  --color-hover: #2B2B2B;
  --color-selected: #2B2B2B; /* Same as hover */
  --color-accent: #5D6D7E;
  --color-foreground: #CCCCCC;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100vh;
}

/* Custom scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 3px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
