/* src/renderer/src/app.css */
@import "tailwindcss";

@theme {
  /* Using system default fonts instead. */
  /* --font-sans: Inter, "Segoe UI", Arial, sans-serif; */
  /* --font-sans: "Segoe UI"; */

  /* Minimal Palette */
  --color-background: #181818; /* Universal background for content, panels, sidebars */
  --color-surface: #1f1f1f; /* Text input background */
  --color-border: #2b2b2b;
  --color-muted: #9d9d9d;
  --color-hover: #2b2b2b;
  --color-selected: #2b2b2b; /* Same as hover */
  --color-accent: #4a90e2;
  --color-foreground: #cccccc;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100vh;
}

/* Custom scrollbar styling */
/* .scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 3px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
} */
